body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.poster {
    width: 50%;/*fit to page*/
    margin-left: 25%;/*fit to page*/
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;/*to use what follows on the link*/
}

img {
    border: 5px solid white;
    width: 100%;/*makes img fit to div*/
}

@media (min-width: 319px) and (max-width: 480px) {
    h1 {
      font-size: 1.5em;
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    h1 {
        font-size: 1.5em;
    }
}

/* @media (min-width: 1201px) and (max-width: 1600px) {
    
}*/
