body {
    background-color: black;
}

h1 {
    /*color: white;*/
    /*text-align: center;*/
    text-transform: uppercase;
    font-size: 3em;
}

/*p {
    color: white;
    text-align: center;
}*/

.poster {
    width: 50%;/*fit to page*/
    margin-left: 25%;/*fit to page*/
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;/*to use what follows on the link*/
}

img {
    border: 5px solid white;
    width: 100%;/*makes img fit to div*/
}
